**/*.hl7
src/main/resources/data/*
!src/main/resources/data/.gitkeep
src/main/resources/KC/ORU*
src/main/resources/MiBi/multiple*
src/main/resources/outputs/*
src/main/java/StatusKulturdiagnostik.java
src/main/java/ObservationJSON.java
target/
out/